<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Início</a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Curso">Curso</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Remuneracao">Remuneracao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Atuacao">Atuação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#SaibaMais">Saiba Mais</a>
                </li>
            </ul>
            <!--button class="btn btn-sm align-middle btn-outline-secondary" type="button" (click)="accessibilityFont('+')">A+</button>
            <button class="btn btn-sm align-middle btn-outline-secondary" type="button" (click)="accessibilityFont('=')">A</button>
            <button class="btn btn-sm align-middle btn-outline-secondary" type="button" (click)="accessibilityFont('-')">A-</button>
            <button class="btn btn-sm align-middle btn-outline-secondary" type="button" (click)="accessibilityContrast()">
                <i class="fa fa-adjust" aria-hidden="true"></i>
            </button-->
            <div>
                <div class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Pesquisa" [(ngModel)]="termo" (keydown)="keyDownFunction($event)">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSearchTerm()">Pesquisa</button>
                </div>
            </div>
        </div>
    </div>
</nav>
    
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Resultados Encontrados:</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li *ngFor="let result of results">
                        <a [routerLink]="['/es/detalhe/topico', result.id]" (click)="hideChildModal()">
                        {{result.retorno}} id: {{result.id}}
                    </a>
                    </li>
                </ul>
                <div *ngIf="results.length === 0">Nenhum resultado encontrado!</div>
            </div>
        </div>
    </div>
</div>