<div class="acess">
  <button class="btn btn-sm align-middle btn-outline-secondary" type="button" (click)="accessibilityFont('+')">A+</button>
  <button class="btn btn-sm align-middle btn-outline-secondary" type="button" (click)="accessibilityFont('=')">A</button>
  <button class="btn btn-sm align-middle btn-outline-secondary" type="button" (click)="accessibilityFont('-')">A-</button>
  <button class="btn btn-sm align-middle btn-outline-secondary" type="button" (click)="accessibilityContrast()">
    <i class="fa fa-adjust" aria-hidden="true"></i>
  </button>
</div>
