<!-- Sem conexão -->
<div class="container offline">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>Opa!</h1>
              <h2>Sem Conexão com a Internet</h2>
              <h4>Conecte à internet e tente novamente!</h4>
              <div class="error-actions">
                <button class="btn btn-primary btn-lg" routerLink='/'>
                    <span class="glyphicon glyphicon-home"></span>Recarregar Página
                </button>
              </div>
          </div>
      </div>
  </div>
</div>
