<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <ufg-es-lado-esquerdo></ufg-es-lado-esquerdo>    
    <div class="menu-3">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="/" routerLinkActivate="activate">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" routerLink="/es/disciplinas" routerLinkActivate="activate">Disciplinas</a>
                </li>
            </ul>
        </div>
        <div class="input-pesquisa">
            <div class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Pesquisa" [(ngModel)]="termo" (keydown)="keyDownFunction($event)">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSearchTerm()">Pesquisa</button>
            </div>
        </div>
    </div>
</nav>

<ufg-es-acessibilidade></ufg-es-acessibilidade>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Resultados Encontrados:</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul>
                    <li *ngFor="let result of results">
                        <a [routerLink]="['/es/detalhe/topico', result.id]" (click)="hideChildModal()">
                            {{result.retorno}}
                        </a>
                    </li>
                </ul>
                <div *ngIf="results.length === 0">Nenhum resultado encontrado!</div>
            </div>
        </div>
    </div>
</div>
