:host {
    width: 70em;
    margin-left: 1em;
    border-top-style: solid;
    border: 1px;    
}
.conteudo-sub {
    padding-top: 2%;
}
 
h4 { 
    text-align: center; 
} 
 
.sub-image { 
    text-align: center; 
}