
<div class="card" *ngIf="menuSecundario.length > 1">
    <div class="card-header">
      Tópicos
    </div>
    <div class="card-block">
      <ul>
        <li *ngFor="let item of menuSecundario">
          <a href="es/detalhe/topico/{{id}}#{{item.id}}">
            {{item.nome}}
          </a>
        </li>
      </ul>
    </div>
</div>
<!-- <p>
  lado-direito works!
</p>
<cuppa-slidemenu [menulist]="menuItemsArray" (open)="onMenuOpen()" (close)="onMenuClose()" (onItemSelect)="onItemSelect($event)"></cuppa-slidemenu> -->
