<ufg-es-menu-pesquisa></ufg-es-menu-pesquisa>

<!-- Cabeçalho -->
<header class="masthead" id="page-top">
  <div class="container">
    <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/profile.png?raw=true" alt="">
    <div class="intro-text">
      <span class="name">Engenharia de Software</span>
      <hr class="star-light">
      <span class="skills">Vamos conhecer mais sobre a Engenharia de Software</span>
    </div>
  </div>
</header>

<!-- Sobre a Engenharia de Software -->
<div id="Sobre">
  <div class="container secao">
    <h2 class="text-center">O que é a Engenharia de Software?</h2>
    <hr class="star-primary">
    <div class="row">
      <img class="img-fluid img-centered" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/index/EngenhariaDeSoftware.png?raw=true" alt="">
    </div>
    <div class="row">
      <div class="col-lg-4 mr-auto">
        <p>Engenharia de software é uma área da computação voltada à especificação, desenvolvimento, manutenção e criação de sistemas de software, com a aplicação de tecnologias e práticas de gerência de projetos e outras disciplinas, visando organização, produtividade e qualidade.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p>Atualmente, essas tecnologias e práticas englobam linguagens de programação, banco de dados, ferramentas, plataformas, bibliotecas, padrões de projeto de software, processo de software e qualidade de software.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p>Além disso, a engenharia de software deve oferecer mecanismos para se planejar e gerenciar o processo de desenvolvimento de um sistema computacional de qualidade e que atenda as necessidades de um requisitante de software.</p>
      </div>
    </div>
  </div>
</div>

<!-- O curso de Engenharia de Software-->
<div class="success" id="Curso">
  <div class="container secao">
    <h2 class="text-center">O curso de Engenharia de Software</h2>
    <hr class="star-light">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p>O Curso de Engenharia de Software forma o profissional de software, o engenheiro de Software, apto a participar de e conduzir empreendimentos de softwares que sejam competitivos no mercado global. O estudante recebe formação que lhe assegura sólida carreira na valiosa indústria de software e o inicia no processo de formação de sua própria reputação como profissional.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p>Em todo o mundo há notório e extenso mercado para este profissional, seja empregado por empresas, ou ocupando-se em atividade empreendedora na construção de um produto inovador. Este curso forma o profissional que usa computadores, por meio da construção de software, para satisfazer necessidades de empresas e pessoas. Se o software exigido for grande e complexo, então este é um problema para o egresso deste curso.</p>
      </div>
      <div class="col-lg-4 mr-auto imagem">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/index/AvaliacaoMec.jpg?raw=true" alt="">
        <p></p>
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/index/CincoEstrelas.png?raw=true" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Remuneração da Engenharia de Software -->
<div id="Remuneracao">
  <div class="container secao">
    <h2 class="text-center">Quanto ganha um Engenheiro de Software?</h2>
    <hr class="star-primary">
    <div class="row">
      <img class="img-fluid img-centered" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/index/GraficoSalarial.jpg?raw=true" alt="">
    </div>
  </div>
</div>

<!-- Onde trabalha um Engenheiro de Software -->
<div class="success" id="Atuacao">
  <div class="container secao">
    <h2 class="text-center">Onde trabalha um Engenheiro de Software?</h2>
    <hr class="star-light">
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/logo/Facebook.png?raw=true" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/logo/Google.png?raw=true" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/logo/Instagram.png?raw=true" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/logo/YouTube.png?raw=true" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/logo/Yahoo.png?raw=true" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/logo/Microsoft.png?raw=true" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/logo/Apple.png?raw=true" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/logo/Samsung.png?raw=true" alt="">
      </div>
      <div class="col-sm-4 portfolio-item">
        <img class="img-fluid" src="https://github.com/pedlop/integracao2017/blob/master/portal-es/src/assets/img/logo/Dell.png?raw=true" alt="">
      </div>
    </div>
  </div>
</div>

<!-- Saiba Mais -->
<div id="SaibaMais">
  <div class="container secao">
    <h2 class="text-center">Saiba Mais</h2>
    <hr class="star-primary">
    <div class="col-lg-8 mx-auto text-center">
      <button type="button" class="btn btn-lg btn-primary" (click)="onClickSaibaMais()">Saiba Mais</button>
    </div>
  </div>
</div>


  
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top d-lg-none">
  <a class="btn btn-primary js-scroll-trigger" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>