/** css criado */
.container.secao {
  padding-top: 10%;
  .text-center {
    margin-bottom: 5%
  }
}

/** Todo o css do Template */
p {
    font-size: 20px; 
}
  
p.small {
  font-size: 16px; 
}

a,
a.active,
a:active,
a:focus,
a:hover {
  color: #18BC9C;
  outline: none; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase; 
}

hr.star-light,
hr.star-primary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px; 
}

hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005'; 
}

hr.star-light {
  border-color: white; 
}

hr.star-light:after {
  color: white;
  background-color: #18BC9C; 
}

hr.star-primary {
  border-color: #2C3E50; 
}

hr.star-primary:after {
  color: #2C3E50;
  background-color: white; 
}

.img-centered {
  margin: 0 auto; 
}

section {
  padding: 100px 0; 
}
section h2 {
  font-size: 3em;
  margin: 0; 
}

section.success {
  color: white;
  background: #18BC9C; 
}

@media (max-width: 767px) {
  section {
    padding: 75px 0; }
  section.first {
    padding-top: 75px; 
  } 
}

.scroll-top {
  position: fixed;
  z-index: 1049;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px; 
}
.scroll-top .btn {
  font-size: 16px;
  line-height: 28px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100%; 
}
.scroll-top .btn:focus {
  outline: none; 
}

header.masthead {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  background: #18BC9C; 
}
header.masthead img {
  display: block;
  margin: 0 auto 20px; 
}
header.masthead .intro-text .name {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 700;
  display: block;
  text-transform: uppercase; 
}
header.masthead .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300; 
}

@media (min-width: 768px) {
header.masthead {
  padding-top: 200px;
  padding-bottom: 100px; 
}
  header.masthead .intro-text .name {
    font-size: 4.75em; 
  }
  header.masthead .intro-text .skills {
    font-size: 1.75em; 
  } 
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; 
}
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer; 
  }
    #portfolio .portfolio-item .portfolio-link .caption {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background: rgba(24, 188, 156, 0.9); 
    }
      #portfolio .portfolio-item .portfolio-link .caption:hover {
        opacity: 1; 
      }
      #portfolio .portfolio-item .portfolio-link .caption .caption-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white; 
      }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content i {
          margin-top: -12px; 
        }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
          margin: 0; 
        }

#portfolio * {
  z-index: 2; 
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; 
  } 
}

.portfolio-modal .modal-dialog {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none; 
}
.portfolio-modal .modal-dialog .modal-content {
  padding: 100px 0;
  border: 0;
  border-radius: 0; 
}
.portfolio-modal .modal-dialog .modal-content h2 {
  font-size: 3em;
  margin: 0; 
}
.portfolio-modal .modal-dialog .modal-content img {
  margin-bottom: 30px; 
}
.portfolio-modal .modal-dialog .modal-content .item-details {
  margin: 30px 0; 
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent; 
}
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; 
  }
  .portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2C3E50; 
  }
    .portfolio-modal .close-modal .lr .rl {
      /* Safari and Chrome */
      z-index: 1052;
      width: 1px;
      height: 75px;
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: #2C3E50; 
    }

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; 
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee; 
}
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important; 
  }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; 
}

.floating-label-form-group-with-focus label {
  color: #18BC9C; 
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee; 
}  