side-menu {
    a {
        font-size: initial;
        padding: 15px;
        cursor: pointer;
    }
    .menu-container.cuppa-menu.hide-menu {
        width: -400px;
    }
    .menu-container.cuppa-menu.show-menu {
        width: 400px;
        top: 70px;
    }
    button.hamburger.hamburger-arrow-left {
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width: 630px) {
    side-menu {
        a {
            font-size: small;
        }
        .menu-container.cuppa-menu.hide-menu {
            width: -300px;
        }
        .menu-container.cuppa-menu.show-menu {
            width: 300px;
        }
    }
}

@media (max-width: 991px) {
    slide-menu {
        .menu-container.cuppa-menu.show-menu {
            top: 84px;
        }
    }
}