.pagina {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(#000, .8);
    z-index: 2;
    .carregando-imagem {
        position: fixed;
        top: 50%;
        left: 50%;
        // width: 120px;
        // height: 120px;
        margin-top: -50px;
        margin-left: -50px;
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
    }
    @-moz-keyframes spin { 
        100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 
        100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 
        100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
    }

}
